{% macro tool_actions(entity, use_voter=false) %}
    {% set current_route = app.request.attributes.get('_route') %}
    {% if '_index' not in current_route and (use_voter == false or entity|vote('index')) %}
        <a href="{{ entity|guess_path('index') }}" class="btn btn-default">
            <span class="fa fa-list"></span>
            <span class="hidden-xs hidden-sm">Overview</span>
        </a>
    {% endif %}
    {% if ('_edit' in current_route or '_delete' in current_route) and (use_voter == false or entity|vote('view')) %}
        <a href="{{ entity|guess_path('show') }}" class="btn btn-default">
            <span class="fa fa-search-plus"></span>
            <span class="hidden-xs hidden-sm">Details</span>
        </a>
    {% endif %}
    {% if '_show' in current_route and (use_voter == false or entity|vote('delete')) %}
        <a href="{{ entity|guess_path('delete') }}" class="btn btn-danger">
            <span class="fa fa-trash"></span>
            <span class="hidden-xs hidden-sm">Delete</span>
        </a>
    {% endif %}
    {% if '_show' in current_route and (use_voter == false or entity|vote('edit')) %}
        <a href="{{ entity|guess_path('edit') }}" class="btn btn-warning">
            <span class="fa fa-pencil"></span>
            <span class="hidden-xs hidden-sm">Edit</span>
        </a>
    {% endif %}
    {% if '_index' in current_route and (use_voter == false or entity|vote('create')) %}
        <a href="{{ entity|guess_path('new') }}" class="btn btn-success">
            <span class="fa fa-plus"></span>
            <span class="hidden-xs hidden-sm">New</span>
        </a>
    {% endif %}
{% endmacro %}