<div class="{{ box_class|default('box') }}">
    {% if header is not defined or header == true %} {# defaults to using header #}
        <div class="{{ box_header_class|default('box-header with-border') }}">
            {% block box_header %}
                <h3 class="{{ box_title_class | default('box-title') }}">{% block box_title %}{% endblock %}</h3>

                <div class="{{ tools_class | default('box-tools pull-right') }}">
                    {% block box_tools %}
                        {% from '@BaseAdmin/components/box-tool-actions.html.twig' import tool_actions %}
                        {{ tool_actions(entity, use_voter is defined and use_voter == true) }}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
    <div class="{{ box_body_class |default('box-body') }}">
        {% block box_body %}{% endblock %}
    </div>
    {% if footer is defined and footer == true  %} {# defaults to using no footer #}
        <div class="{{ box_footer_class|default('box-footer') }}">
            {% block box_footer %}{% endblock %}
        </div>
    {% endif %}
</div>